/* CARD */
@import "../../assets/scss/colorVariabel.scss";

.card {
  position: relative;
  background-color: #1f2f50 !important;
  color: $white;
  min-height: 100%;
  overflow: hidden;
  border: none;
  border-radius: 10px !important;
  transition: 0.5s;
  box-shadow: 0px 2px 15px rgba(255, 255, 255, 0.2);
  &:hover {
    box-shadow: 0px 2px 25px rgba(255, 255, 255, 0.3);
    transform: translateY(-10px);
  }
  @media (min-width: 992px) {
    min-height: 285px;
  }
  @media (min-width: 1400px) {
    min-height: 305px;
  }
  .image {
    height: 180px;
    img {
      height: 100%;
      object-fit: cover;
    }
  }
  .card-body {
    padding: 8px;
    // background-color: yellow;
    p {
      font-size: 13px;
    }
    h5 {
      font-size: 14px;
    }
    @media (min-width: 992px) {
      padding: 10px;
      h5 {
        font-size: 15px;
      }
      p {
        font-size: 14px;
      }
    }
    @media (min-width: 1400px) {
      h5 {
        font-size: 17px;
      }
    }
  }
  p {
    margin-bottom: 0;
    margin-top: 5px;
    font-size: 13px;
    @media (min-width: 992px) {
      font-size: 16px;
    }
  }
  .kategori {
    background-color: $dongker;
    border: 2px solid $cream;
    color: $cream;
    width: 40px;
    font-weight: 600;
    text-align: center;
    border-radius: 8px;
    padding: 3px 0px;
    position: absolute;
    display: block;
    z-index: 1;
    right: 4%;
    top: 2%;
    font-size: 13px;
    @media (min-width: 992px) {
      border-radius: 10px;
      right: 5%;
      top: 5%;
      width: 80px;
      font-size: 16px;
    }
  }
}
