$white: #fff !default;
$gray-100: #f6f5f5 !default;
$gray-200: #e5e5e5 !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #4f4f4f !default;
$gray-800: #474747 !default;
$gray-900: #3d3e4c !default;
$gray-primary: #2e5a1c !default;
$black: #000 !default;

$blue: #1c5bff !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #ff658a !default;
$red: #d44856 !default;
$orange: #f2994a !default;
$yellow: #ffc107 !default;
$green: #51e03a !default;
$teal: #86bb67 !default;
$tealnes: #4e9525 !default;
$cyan: #5db3bf !default;

// New Colours
$dongker: #1f2f50 !default;
$cream: #f4db9d !default;
$bluelight: #2a4264 !default;
$bluedark: #101f36 !default;
