/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins", sans-serif;
}
/* FONTS */

/* BACKGROUND */
body {
  background-color: #f6f5f5;
}
#section-2 {
  background-color: #e5e5e5;
}
/* BACKGROUND */

/* NAVBAR */
.navbar {
  background-color: #5db3bf;
}
.navbar-brand {
  color: white;
  font-weight: 300;
  font-size: 12px;
}
.navbar-brand span {
  font-weight: 700;
  font-size: 24px;
  line-height: 26px;
}
.navbar-brand:focus,
.navbar-brand:hover {
  color: white;
}
.nav-link {
  color: white;
  margin: 0 20px;
}
.navbar-nav .nav-link.active,
.navbar-nav .show > .nav-link {
  font-weight: 800;
  color: white;
}
.nav-link:focus,
.nav-link:hover {
  color: white;
}
// .navbar-toggler-icon {
//   filter: invert();
// }
.navbar-toggler {
  border: 1px solid white;
}
.navbar-toggler:focus {
  box-shadow: 0 0 0 2px #ffffff;
}
.dropdown-toggle::after {
  margin-left: 0;
  border-width: 0.4em 0.4em 0;
}
.dropdown-menu[data-bs-popper] {
  left: -150px;
}
.dropdown .btn {
  background-color: transparent;
  border: none;
  padding: 0;
}
.dropdown .btn-check:focus + .btn,
.btn:focus,
.btn.show:focus {
  box-shadow: none;
}
/* NAVBAR */

/* BUTTON */
.btn-blue {
  border-radius: 10px;
  background-color: #5db3bf;
  color: white;
  font-weight: 600;
  font-size: 14px;
  padding: 13px 50px;
  border: none;
}
/* BUTTON */

/* JUDUL */
.judul-1 {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 0;
  color: #5db3bf;
}
.judul-2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 45px;
  color: #3d3e4c;
}
.keterangan-1 {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.keterangan-1 p {
  font-weight: 400;
  line-height: 27px;
  font-size: 18px;
  width: 60%;
}
/* JUDUL */

/* CARD */
.card {
  overflow: hidden;
  border: none;
  border-radius: 20px;
  margin-bottom: 50px;
}
/* CARD */

/* SECTION-1 */
#section-1 {
  padding-top: 70px;
  padding-bottom: 20px;
}
#section-1 .col-lg:nth-child(2) {
  padding-top: 70px;
}
/* SECTION-1 */

/* SECTION-2 */
#section-2 {
  padding-top: 50px;
  padding-bottom: 50px;
}
#section-2 .btn-blue {
  width: 300px;
}
/* SECTION-2 */

/* SECTION-3 */
#section-3 {
  padding-top: 50px;
  padding-bottom: 50px;
}
#section-3 .col-lg:nth-child(1) {
  padding-top: 70px;
}
#section-3 .judul-2 {
  max-width: 460px;
}
#section-3 .judul-2 span {
  color: #5db3bf;
}
/* SECTION-3 */

/* SECTION-4 */
#section-4 {
  padding-top: 20px;
}
/* SECTION-4 */

/* FOOTER */
footer {
  background-color: #152355;
}
footer .container {
  color: white;
}
.footer-brand {
  color: white;
  font-weight: 300;
  font-size: 12px;
}
.footer-brand span {
  font-weight: 700;
  font-size: 24px;
  line-height: 26px;
}
footer img {
  width: 20px;
  height: 20px;
}
footer p {
  margin-bottom: 0;
}
/* FOOTER */

/* MOBILE RESPONSIVE */
@media (max-width: 991.98px) {
  .navbar-collapse {
    background-color: #3a929e;
    border-radius: 10px;
    padding: 10px;
  }
  .nav-item {
    border: 1px solid white;
    border-style: none none double none;
  }
  .navbar-account {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #section-1 {
    padding-top: 20px;
    padding-bottom: 50px;
    text-align: center;
  }
  #section-3 {
    text-align: center;
  }
  #section-1 img,
  #section-3 img {
    width: 100vw;
  }
  .keterangan-1 p {
    width: 100vw;
  }
  #section-1 .col-lg:nth-child(2) {
    padding-top: 0;
  }
  #section-3 .col-lg:nth-child(1) {
    padding-top: 0;
  }
}
/* MOBILE RESPONSIVE */
