/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "../scss/colorVariabel.scss";
@import "../scss/gridContainer.scss";

@mixin fungsiAnimasiEvent() {
  position: relative;
  border: none;
  &::after {
    content: "";
    display: block;
    background-color: $dongker;
    position: absolute;
    inset: -3px;
    border-radius: 5px;
    z-index: 1;
  }
  &::before {
    content: "";
    display: block;
    background-color: rgba($white, 0.05);
    width: 30%;
    position: absolute;
    height: 100%;
    animation: load-right 2s infinite;
    z-index: 2;
    filter: blur(10px);
  }
}

@mixin fungsiAnimasi() {
  @media (min-width: 992px) {
    width: 100%;
  }
  p {
    margin: 0;
    font-size: 13px;
    color: $white;
    @media (min-width: 768px) {
      font-size: 16px;
    }
  }
  .count {
    background-color: $cream;
    width: 50px;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: $dongker;
    height: 50px;
    font-size: 16px;
  }
  .sahabat {
    border: 2px solid $cream;
    border-radius: 2px;
    padding: 3px;
    position: relative;
    overflow: hidden;
    width: 250px;
    margin: 0 auto;
    @media (min-width: 768px) {
      width: 300px;
    }
    p {
      position: relative;
      color: $cream;
      font-weight: 600;
      // animation-name: loadingColor;
      // animation-duration: 5s;
      // animation-iteration-count: infinite;
      z-index: 2;
    }
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: block;
      z-index: 1;
      background-color: $cream;
      transform: translateX(0) skewX(45deg);
      animation-name: loadingBar;
      animation-duration: 3s;
      animation-iteration-count: infinite;
      overflow: hidden;
    }
  }

  .image {
    width: 200px;
    height: 200px;
    padding: 20px;
    object-fit: cover;
    border-radius: 50%;
    // overflow: hidden;
    box-shadow: 0 0 0 0 rgba($cream, 0.5);
    transform: scale(1);

    // - CADANGAN
    // transition: all 600ms ease-in-out;
    // animation-name: animationLoad;
    // animation-duration: 1.7s;
    // animation-iteration-count: infinite;
    // transition-timing-function: cubic-bezier(0.5, 0, 0, 1);
    @media (min-width: 768px) {
      width: 230px;
      height: 230px;
    }
  }
  img {
    width: 100%;
    height: 100%;
  }
}

@mixin inputChats() {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  button {
    position: absolute;
    // top: 0;
    bottom: 0;
    right: 0;
    display: inline-flex;
    align-items: center;
    img {
      max-height: 20px;
    }
  }
  input {
    font-size: 12px;
    padding-right: 50px;
    // max-height: 80px;
    box-shadow: none;
  }
  textarea {
    font-size: 12px;
    padding-right: 50px;
    height: 80px;
    // background-color: rgba($cyan, 0.1);
    background-color: $bluelight;
    color: $white;
    // position: absolute;
    // bottom: 0;
  }
  @media (min-width: 576px) {
    input {
      font-size: 13px;
    }
    textarea {
      font-size: 13px;
    }
  }
  @media (min-width: 992px) {
    input {
      font-size: 14px;
    }
    textarea {
      font-size: 14px;
    }

    button {
      img {
        max-height: 25px;
      }
    }
  }
}

@mixin listChats() {
  position: absolute;

  left: 0;
  right: 0;

  .chat-value {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column-reverse;
    overflow-y: scroll;
    max-height: 100%;
    width: 100%;
    padding: 10px;

    scrollbar-width: none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
      display: none;
    }

    &::-webkit-scrollbar-thumb {
      display: none;
    }
    .chat-date {
      max-width: 70%;
      min-width: 40%;
      margin: 7px auto;
      border-radius: 5px;
      background-color: rgba($bluelight, 0.5);
      padding: 4px 5px;
      font-size: 11px;
      p {
        margin: 0;
        text-align: center;
        color: $cream;
      }
    }
    .chat-item {
      max-width: 80%;
      min-width: 40%;
      margin-right: auto;
      background-color: rgba($bluelight, 0.6);
      color: $white;
      padding: 10px;
      padding: 8px;
      border-radius: 10px 10px 10px 0px;
      position: relative;
      margin-bottom: 7px;
      margin-top: 7px;
      @media (min-width: 576px) {
        max-width: 90%;
        min-width: 60%;
      }
      @media (min-width: 768px) {
        max-width: 80%;
        min-width: 40%;
      }
      &.notif-masuk {
        background-color: rgba($bluelight, 0.5);
        font-size: 11px;
        color: $cream;
        margin: 7px auto;
        border-radius: 6px;
        min-width: 80%;
        max-width: 90%;
        margin-top: 8px;
      }
      &.notif-keluar {
        background-color: rgba($red, 0.2);
        font-size: 11px;
        color: $red;
        margin: 7px auto;
        border-radius: 6px;
        min-width: 80%;
        max-width: 90%;
      }
      &.me {
        background-color: $cream;
        color: $dongker;
        margin-left: auto;
        margin-right: 0;
        border-radius: 10px 10px 0px 10px;
      }
      p {
        margin: 0;
        padding: 0;
        font-size: 12px;
      }
      p.user {
        font-size: 12px;
        font-weight: 600;
      }
      p.value {
        font-size: 11px;
        margin-bottom: 5px;
      }
      p.jam {
        font-size: 11px;
        text-align: end;
      }
      @media (min-width: 576px) {
        max-width: 70%;
        p {
          &.user {
            font-size: 12px;
          }
          &.value {
            font-size: 11px;
          }
          &.jam {
            font-size: 11px;
          }
        }
      }
      @media (min-width: 992px) {
        max-width: 60%;
        padding: 10px;
        border-radius: 12px 12px 12px 0px;
        &.me {
          border-radius: 12px 12px 0px 12px;
        }
        p {
          &.user {
            font-size: 14px;
          }
          &.value {
            font-size: 13px;
          }
          &.jam {
            font-size: 12px;
          }
        }
      }
    }
  }
}
.btn-close-layer {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    z-index: 99;
    inset: 0;
    // background-color: aqua;
    overflow: hidden;
  }
}

* {
  font-family: "Poppins", sans-serif;
}
/* FONTS */

body {
  background-image: linear-gradient(to bottom, $bluedark, #162440);
  background-repeat: no-repeat;
  min-height: 100vh;
}
#section-2 {
  background-color: $gray-100;
}
.bg-cream {
  background-color: $cream !important;
}
.bg-dongker {
  background-color: $dongker !important;
}
.text-softwhite {
  color: rgb(240, 240, 240) !important;
}
.text-cyan {
  color: $cyan;
}
.text-cream {
  color: $cream !important;
}
.text-dongker {
  color: $dongker !important;
}
.input-dongker {
  background-color: $dongker !important;
  color: $white !important;
  border: 1px solid $bluelight !important;
  outline: none;
  // border: 1px solid $bluelight;
  box-shadow: none;

  &:focus {
    outline: none;
    border: 1px solid $white !important;
  }
}
.notfound {
  font-size: 12px;
  @media (min-width: 992px) {
    font-size: 14px;
  }
  .image {
    height: 200px;
    width: 100%;
    object-fit: contain;
    text-align: center;
    @media (min-width: 768px) {
      height: 300px;
    }
    @media (min-width: 992px) {
      height: 380px;
    }
    img {
      height: 100%;
      max-width: 100%;
      @media (min-width: 992px) {
        max-width: 50%;
      }
    }
  }
}
.pagination {
  margin-top: 30px;
  justify-content: end;
  * {
    border-color: rgba($bluelight, 0);
  }
  .page-item {
    font-size: 12px;
    margin: 0px 3px !important;
    .page-link {
      color: $white !important;
      border: 0px solid $cream !important;
    }
    &.active .page-link {
      background-color: $cream !important;
      outline: none !important;
      color: $dongker !important;
      border-color: $cream !important;
    }
  }
}

@mixin imagestyle {
  width: 150px;
  margin: 0 auto;
  height: 100%;
  text-align: center;
  @media (min-width: 768px) {
    width: 100%;
    height: 100%;
  }
  img {
    object-fit: contain;
    max-height: 180px;
    width: auto;
    @media (min-width: 768px) {
      max-height: 280px;
    }
    @media (min-width: 992px) {
      max-height: 450px;
    }
  }
}

/* NAVBAR */
.navbar {
  background-color: $bluedark;

  .navbar-account {
    display: flex;
    align-items: center;
    justify-content: center;

    .notification {
      position: relative;
      &:hover {
        .area-notif {
          display: inline-block;
        }
      }
      .area-notif {
        display: none;
        position: absolute;
        top: 120%;
        right: 0%;
        width: 280px;
        min-height: 140px;
        max-height: 300px;
        // padding: 10px;
        border-radius: 8px;
        background-color: $dongker;
        border: 1px solid $bluelight;

        overflow-y: scroll;
        @media (min-width: 1200px) {
          right: -300%;
        }

        a {
          position: relative;
          overflow: hidden;
          object-fit: cover;
          padding: 14px 20px;
          border-radius: 0;
          &.active {
            // background-color: rgba($bluelight, 0.5);
            &::before {
              content: "";
              position: absolute;
              inset: 0;
              display: block;
              height: 100%;
              z-index: 1;
              background-color: rgba($bluelight, 0.3);
              width: 92%;
              margin: 0 auto;
            }
          }
          // background-color: $bluelight !important;

          svg,
          p,
          .red {
            z-index: 2;
          }
          .red {
            position: absolute;
            top: 12px;
            left: 40px;
            min-width: 10px;
            min-height: 10px;
            border-radius: 50%;
            background-color: $red;
          }
        }
        &::-webkit-scrollbar {
          height: 8px;
          width: 4px;
        }

        &::-webkit-scrollbar-thumb {
          background: $bluelight;
          height: 4px !important;
          border-radius: 8px;
        }
        .image {
          min-width: 30px;
          height: 30px;
          border-radius: 50%;
          background-color: $gray-200;
          margin-right: 10px;
          overflow: hidden;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        p {
          font-size: 13px;
          margin-bottom: 0;
        }
      }
      // box-shadow: 0px 0px 10px rgba($cyan, 0.4);
    }
    .icon-notif {
      max-height: 33px;
    }
    .notif {
      position: absolute;
      top: 0px;
      right: 3px;
      background-color: $orange;
      height: 10px;
      width: 10px;
      border-radius: 50%;
    }
    .ava-user {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      overflow: hidden;
      margin: 0px 10px;
      img {
        object-fit: cover;
        height: 100%;
        width: 100%;
      }
    }
  }

  .navbar-brand {
    color: $cream;
    font-weight: 300;
    font-size: 12px;
    outline: none;
    box-shadow: none;
    transition: 0.4s;
    span.judul {
      font-weight: 700;
      font-size: 20px;
      line-height: 26px;
    }
    @media (min-width: 768px) {
      span.judul {
        font-size: 24px;
      }
    }
  }
  .user {
    position: relative;
    &:hover {
      .hover-item {
        display: block;
      }
    }
    .hover-item {
      display: none;
      overflow: hidden;
      border-radius: 8px;
      position: absolute;
      right: 0px;
      margin-top: 5px;
      z-index: 99;
      font-size: 13px;
      width: 220px;
      li {
        background-color: $dongker;
        color: $cream;
        border: 1px solid $bluelight;
      }
      @media (min-width: 1200px) {
        right: -90px;
      }
      p {
        margin: 0;
        font-size: 14px;
      }
      span {
        font-size: 12px;
      }
      .btn {
        transition: 0.4s;
        &:hover {
          background-color: $bluelight;
        }
        &.logout {
          &:hover {
            background-color: rgba($red, 0.1);
          }
          color: red;
        }
      }
    }
    .btn {
      overflow: hidden;
      &:not(.login) {
        width: 30px;
        height: 30px;
      }
      &.login {
        background-color: $white;
        color: $cyan;
      }
      img {
        object-fit: contain;
        width: 100%;
        height: auto;
      }
      @media (min-width: 992px) {
        &:not(.login) {
          height: 40px;
          width: 40px;
        }
      }
    }
  }
  .navbar-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;
    display: flex;
    background-color: $dongker;
    padding: 1px 0px 5px 0px;
    border-radius: 10px 10px 0px 0px;
    justify-content: space-around;
    box-shadow: 0px 2px 17px rgba($white, 0.25);
    a {
      color: $white;
      display: block;
      padding: 10px 0px !important;
      display: flex;
      flex-direction: column;
      align-items: center;
      // background-color: #152355;
      width: 100%;
      position: relative;
      &.active {
        color: $cream;
        &::after {
          content: "";
          position: absolute;
          bottom: 2px;
          left: 0;
          right: 0;
          width: 6px;
          height: 6px;
          border-radius: 5px;
          margin: 0 auto;
          background-color: $cream;
        }
      }

      svg {
        width: 21px;
        height: 21px;
      }
      span {
        font-size: 10px;
      }
    }
  }
}

.navbar-brand:focus,
.navbar-brand:hover {
  color: white;
}
a.nav-link {
  color: $cream;
  margin: 0 10px;
  transition: 0.4s;
  @media (min-width: 992px) {
    margin: 0 40px;
    transform: translateX(30px);
  }
}
.navbar-nav .nav-link.active,
.navbar-nav .show > .nav-link {
  font-weight: 800;
  color: white;
}
a.nav-link:focus,
a.nav-link:hover {
  color: white;
}

.judul-1 {
  font-weight: 600;
  font-size: 16px;
  // line-height: 30px;
  margin-bottom: 0;
  @media (min-width: 992px) {
    font-size: 20px;
  }
  @media (min-width: 1200px) {
    font-size: 24px;
  }
}
.judul-2 {
  font-weight: 700;
  font-size: 22px;
  line-height: 45px;
  color: $white;
  @media (min-width: 992px) {
    font-size: 30px;
  }
}
.keterangan-1 {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  @media (min-width: 992px) {
  }
}
.keterangan-1 p {
  font-weight: 400;
  line-height: 27px;
  font-size: 14px;
  width: 90%;
  @media (min-width: 992px) {
    font-size: 16px;
    width: 60%;
  }
}

#section-1 {
  padding-top: 50px;
  padding-bottom: 80px;
  @media (min-width: 992px) {
    padding-top: 80px;
  }
  .keterangan-section1 {
    font-size: 14px;
    @media (min-width: 992px) {
      font-size: 18px;
    }
  }
  .image {
    position: relative;
    height: 260px;
    width: 100%;
    border-radius: 30px;

    @media (min-width: 992px) {
      height: 330px;
    }
    img {
      object-fit: contain;
      width: 100%;
      height: 100%;
    }
    .span {
      position: absolute;
      color: $bluedark;
      cursor: pointer;
      font-weight: 500;
      &.span1 {
        top: 0%;
        right: 10%;
      }
      &.span2 {
        top: 0%;
        left: 10%;
      }
      &.span3 {
        bottom: 0%;
        left: 10%;
      }
    }
    .shadowImg {
      position: absolute;
      transition: 0.4s;
      top: 0%;
      left: 0%;
      right: 0%;
      bottom: 0%;
      margin: auto;
      z-index: -1;
      width: 150px;
      height: 150px;
      filter: blur(40px);
      border-radius: 50%;
      background-color: rgba($white, 0.5);
    }
  }

  p {
    &.ket {
      padding: 0px 30px;
      font-size: 13px;
      @media (min-width: 768px) {
        padding: 0px 0px;
        font-size: 16px;
      }
    }
  }
}

#section-2 {
  background-color: rgba($white, 0.03);
  padding-top: 50px;
  padding-bottom: 50px;
  .ket {
    padding: 0px 30px;
    font-size: 13px;
    @media (min-width: 768px) {
      padding: 0px 0px;
      font-size: 14px;
    }
  }
}

#section-3 {
  padding-top: 50px;
  padding-bottom: 100px;
  span {
    color: $cream;
  }
  .image {
    @include imagestyle();
  }

  p {
    &.ket {
      padding: 0px 30px;
      font-size: 13px;
      color: rgb(240, 240, 240);
      @media (min-width: 768px) {
        padding: 0px 0px;
        font-size: 16px;
      }
    }
  }
}

#section-4 {
  padding-top: 20px;
  padding-bottom: 50px;
  .blog {
    span.ket {
      font-size: 13px;
    }
    a {
      font-size: 13px;
    }
    @media (min-width: 992px) {
      span.ket {
        font-size: 15px;
      }
      a {
        font-size: 15px;
      }
    }
  }
}

footer {
  background-color: $bluedark;
  display: none;
  @media (min-width: 576px) {
    display: block;
  }
  .container {
    color: white;
  }
  .footer-brand {
    color: $cream;
    font-weight: 300;
    font-size: 12px;
    // text-align: ;
    span {
      font-weight: 700;
      font-size: 24px;
      line-height: 26px;
    }
  }
  img {
    width: 16px;
    height: 16px;
    @media (min-width: 576px) {
      width: 20px;
      height: 20px;
    }
  }
  p {
    margin-bottom: 0;
  }
  .footer-cr {
    font-size: 13px;

    @media (min-width: 992px) {
      font-size: 14px;
    }
  }
}

.detail {
  color: $gray-800;
  padding-bottom: 40px;
  &.loading {
    .row {
      p,
      span,
      img,
      .image {
        @include fungsiAnimasiEvent();
      }
    }
  }

  p.fw-bold {
    letter-spacing: 1px;
    font-weight: 500 !important;
    font-size: 12px;
    color: $cream;
    @media (min-width: 992px) {
      font-size: 13px;
    }
  }
  p:not(.fw-bold) {
    color: $white;
  }
  .image.detailinfo {
    height: 280px;
    width: 250px;
    margin: 0 auto;
    background-color: rgba($bluelight, 0.3);
    border: 1px solid $gray-300;
    border-radius: 10px;
    overflow: hidden;
    padding: 0;

    img {
      object-fit: contain;
      margin-top: 0;
      height: 100%;
      width: 100%;
    }
    @media (min-width: 576px) {
      width: 100%;
      height: 350px;
    }
    @media (min-width: 1200px) {
      width: 100%;

      height: 450px;
    }
  }

  .social {
    img {
      max-height: 35px;
    }
  }
}

.addevent {
  // background-color: $gray-200;
  padding-bottom: 40px;
  p.subjudul {
    border-bottom: 1px solid $bluelight;
  }
  .navtabs-button {
    .item {
      position: relative;
      width: 15%;
      align-items: center;
      height: 60px;

      @media (min-width: 768px) {
        width: 18%;
      }
      &.active {
        width: 40%;
        &.sembunyi {
          width: 15%;
          @media (min-width: 768px) {
            width: 18%;
          }
        }
        p {
          color: $cream;
          display: block;
          width: 90%;
        }
        span {
          background-color: $cream;
          color: $dongker;
          left: 0%;
        }
        @media (min-width: 992px) {
          width: 18%;
        }
      }
      span {
        position: absolute;
        // top: 0;
        left: 20%;
        height: 40px;
        width: 40px;
        color: $white;
        background-color: $bluelight;
        border-radius: 50%;
        font-size: 20px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
        @media (min-width: 576px) {
          left: 40%;
        }
        @media (min-width: 768px) {
          font-size: 23px;
          height: 50px;
          width: 50px;
        }
        @media (min-width: 992px) {
          left: 0%;
        }
      }
      p {
        position: absolute;
        right: 5%;
        margin: 0;
        padding: 7px 0px;
        background-color: rgba($bluelight, 0);
        color: $white;
        font-weight: 600;
        width: 90%;
        border-radius: 20px;
        text-align: center;
        display: none;
        font-size: 13px;
        padding-left: 28px;
        border: 2px solid $cream;
        @media (min-width: 375px) {
          padding-left: 15px;
        }
        &.sembunyi {
          border: 2px solid $bluelight;
          display: none;
          @media (min-width: 992px) {
            display: block;
          }
        }
        @media (min-width: 576px) {
          text-align: center;
        }
        @media (min-width: 992px) {
          display: block;
          width: 87%;
          font-size: 14px;
        }
        @media (min-width: 1200px) {
          width: 90%;
          font-size: 16px;
          display: block;
        }
      }
    }
  }

  .boxevent {
    color: $gray-800;
    background-color: $bluedark;
    padding: 20px 25px;
    border-radius: 15px;
    margin-top: 30px;
    margin-bottom: 25px;
    label {
      font-weight: 500;
      color: $cream;
      font-size: 14px;
      letter-spacing: 1px;
      margin-bottom: 5px;
    }
    input,
    textarea,
    select {
      background-color: $dongker;
      border: none;
      color: $white;
      box-shadow: none;
      padding: 10px 15px;
      font-size: 14px;
    }
    input[type="date"]::-webkit-calendar-picker-indicator,
    input[type="time"]::-webkit-calendar-picker-indicator {
      filter: invert(1);
      cursor: pointer;
      // background-color: aqua;
      // fill: $cream;
      // outline: wheat;
      // border: 1px solid yellow;
    }
  }

  .upload-image {
    border: 2px dashed $cream;
    background-color: rgba($bluelight, 0.5);
    margin-bottom: 20px;
    border-radius: 8px;
    text-align: center;
    padding: 30px 20px;
    .ketfoto {
      background-color: $bluelight;
      color: $white;
      padding: 10px 15px;
      border-radius: 5px;
    }
    p {
      font-size: 13px;
      margin: 30px 0px;
    }
    .button {
      text-decoration: underline;
      font-size: 14px;
      cursor: pointer;
    }
  }
}

.findfriend {
  .animasi-load {
    img {
      border-radius: 50%;
      width: 200px;
      height: 200px;
      box-shadow: 0 0 0 0 rgba($cyan, 0.5);
      transform: scale(1);
      transition: all 600ms ease-in-out;
      animation-name: animationLoad;
      animation-duration: 1.7s;
      animation-iteration-count: infinite;
      transition-timing-function: cubic-bezier(0.5, 0, 0, 1);
    }
  }
  .tema {
    border-radius: 10px;
    transition: 0.5s;
    box-shadow: 0px 2px 15px rgba(255, 255, 255, 0.2);
    &:hover {
      box-shadow: 0px 2px 25px rgba(255, 255, 255, 0.3);
      transform: translateY(-10px);
    }
    button {
      padding: 10px 15px;
      font-size: 13px;
      margin-top: 10px;
    }
    p {
      // height: 50px;
      font-size: 14px;
    }
    .image {
      height: 150px;
      width: 150px;
      margin-bottom: 20px;

      img {
        height: 100%;
        width: 100%;
        object-fit: contain;
      }
    }
    // img {
    //   max-height: 150px;
    // }
    &:hover {
      p {
        color: white;
      }
      background-color: rgba($bluelight, 0.6);
    }
    @media (min-width: 576px) {
      button {
        font-size: 16px;
      }
      p {
        font-size: 16px;
      }
    }
    @media (min-width: 768px) {
      button {
        padding: 10px 35px;
      }
      p {
        height: 50px;
      }
      .image {
        height: 250px;
        width: 100%;
      }
    }
  }
}
@keyframes animationLoad {
  to {
    box-shadow: 0 0 0 25px rgba($red, 0);
    // transform: scale(0.9);
    // border-radius: 0%;
  }
  // 50% {
  //   box-shadow: 0 0 0 0 rgba($cyan, 0.5);
  //   // transform: scale(1);
  //   // border-radius: 50%;
  // }
}

.chats {
  height: 100vh;
  .sorry {
    width: 100%;
    margin-top: 30px;
    border-radius: 10px;
    background-color: $dongker;
    height: 90%;

    img {
      width: 300px;
      height: 300px;
    }
  }
  .animasi-load {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: $dongker !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media (min-width: 576px) {
      border-radius: 15px;
      top: 5%;
      bottom: 5%;
    }
    @include fungsiAnimasi();
  }
  .container {
    position: relative;
    height: 100%;
    overflow: hidden;
    .box {
      width: 100%;
      background-color: $dongker;
      position: absolute;
      left: 0;
      padding: 15px;
      border-radius: 0px;
      top: 0;
      bottom: 0;
      @media (min-width: 576px) {
        border-radius: 15px;
        top: 5%;
        bottom: 5%;
        width: 60%;
      }
      @media (min-width: 768px) {
        width: 60%;
      }
      @media (min-width: 992px) {
        width: 63%;
      }
      .header-chats {
        span {
          font-size: 12px;
        }
        button {
          font-size: 12px;
          padding: 5px 5px;
        }
        .red {
          height: 20px;
          min-width: 20px;
          background-color: $red;
          border-radius: 50%;
          margin-right: 15px;
          margin-left: 15px;
          box-shadow: 0 0 0 0 rgba($red, 0.4);
          transition: all 300ms ease-in-out;
          animation-name: redeffect;
          animation-duration: 1.5s;
          animation-iteration-count: infinite;
          transition-timing-function: cubic-bezier(0.5, 0, 0, 1);
        }
        @media (min-width: 768px) {
          span {
            font-size: 13px;
          }
        }
        @media (min-width: 992px) {
          span {
            font-size: 16px;
          }
          button {
            font-size: 14px;
            padding: 7px 12px;
          }
        }
      }
      .list-chats {
        background-image: url("../image/bg-primary2.png");
        background-repeat: no-repeat;
        background-size: cover;
        // filter: invert(1);
        top: 50px;
        bottom: 80px;
        @include listChats();
      }
      .input-chats {
        @include inputChats();
      }
    }

    .friends {
      color: $white;
      padding: 15px;
      position: absolute;
      border-radius: 0px;
      width: 74%;
      right: 0;
      top: 0;
      bottom: 0;
      background-color: $bluelight;
      overflow-y: hidden;
      transition: 0.4s;
      &.geser {
        transform: translateX(100%);
      }
      @media (min-width: 450px) {
        width: 60%;
      }
      @media (min-width: 576px) {
        background-color: $dongker;
        border-radius: 15px;
        top: 5%;
        bottom: 5%;
        width: 38%;
        padding: 10px;
        &.geser {
          transform: translateX(0%);
        }
      }
      @media (min-width: 768px) {
        width: 38%;
      }
      @media (min-width: 992px) {
        width: 35%;
        padding: 15px;
      }
      p.judul-1 {
        font-size: 12px;
        @media (min-width: 576px) {
          font-size: 13px;
        }
        @media (min-width: 992px) {
          font-size: 16px;
        }
      }
      img.topik {
        max-height: 170px;
        @media (min-width: 576px) {
          max-height: 120px;
        }
        @media (min-width: 768px) {
          max-height: 150px;
        }
        @media (min-width: 1400px) {
          max-height: 200px;
        }
      }
      .header-friends {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 50%;
        border-bottom: 2px solid $bluelight;
        .judul-1 {
          color: $white;
          &.tema {
            color: $cream;
          }
        }
        @media (min-width: 576px) {
          border-bottom: 0px solid $bluelight;

          height: 50%;
        }
        @media (min-width: 768px) {
          height: 50%;
        }
        @media (min-width: 992px) {
          border-bottom: 2px solid $bluelight;

          height: 40%;
        }
      }
      .list-friends {
        height: 50%;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 2px;
        .judul-1 {
          color: $white;
        }
        @media (min-width: 576px) {
          .judul-1 {
            color: $white;
          }
          height: 50%;
        }
        @media (min-width: 768px) {
          height: 50%;
        }
        @media (min-width: 992px) {
          padding: 10px;
          height: 60%;
        }
        .items-friends {
          overflow-y: scroll;
          height: 90%;
          padding-right: 10px;
          &::-webkit-scrollbar {
            height: 8px;
            width: 4px;
          }

          &::-webkit-scrollbar-thumb {
            background: #c4c4c4;
            height: 4px !important;
            border-radius: 8px;
          }
          @media (min-width: 576px) {
            padding-right: 5px;
          }
          @media (min-width: 992px) {
            padding-right: 10px;
            &::-webkit-scrollbar {
              height: 8px;
              width: 6px;
            }
          }
        }
        .item-friends {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-top: 15px;
          transition: none;
          .image {
            height: 30px;
            width: 30px;
            background-color: $gray-200;
            border-radius: 50%;
            overflow: hidden;
            img {
              height: 100%;
              width: 100%;
              object-fit: cover;
            }
            @media (min-width: 576px) {
              height: 34px;
              width: 34px;
            }
            @media (min-width: 992px) {
              height: 50px;
              width: 50px;
            }
          }
          .friend {
            button {
              font-size: 12px;
            }
            p {
              font-size: 13px;
            }

            @media (min-width: 576px) {
              font-size: 11px;
              button {
                font-size: 11px;
              }
            }
            @media (min-width: 992px) {
              font-size: 15px;
              button {
                font-size: 13px !important;
              }
            }
          }
          .add {
            button {
              position: relative;
              // background-color: $bluelight;
              &::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;

                display: block;
              }
            }
            .wait {
              background-color: $bluelight;
              min-height: 35px;
              min-width: 35px;
              border-radius: 50%;
              display: flex;
              align-items: center;
              justify-content: center;
            }
            .btn-outline-cyan {
              color: $white;
              font-weight: 600;
              transition: 0.3s;
              border: 2px solid $white;
              position: relative;
              &::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
              }
              &:hover {
                background-color: $white;
                color: $cyan;
              }
              height: 35px;
              width: 35px;
              border-radius: 50%;
              font-size: 12px;
              padding: 0;
              @media (min-width: 576px) {
                color: $cream;

                height: 30px;
                width: 30px;
                border-radius: 50%;
                border: 1px solid $cream;
                &:hover {
                  background-color: $cream;
                  color: $dongker;
                }
              }
              @media (min-width: 992px) {
                padding: 8px 5px;
                font-size: 14px;
                height: auto;
                width: auto;
                border-radius: 8%;
              }
            }
          }
        }
      }
    }
  }
}

.personalchat {
  .navbar {
    min-height: 10vh;
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    right: 0;
  }
  margin-top: 10vh;
  height: 89vh;
  // background-color: $gray-100;
  padding-top: 0px;
  padding-bottom: 0px;
  @media (min-width: 576px) {
    height: 600px;
    padding-top: 50px;
    padding-bottom: 30px;
  }
  @media (min-width: 1400px) {
    height: 100vh;
  }
  .container {
    position: relative;
    height: 100%;
    // overflow: hidden;
    .friends {
      position: absolute;

      top: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      background-color: $dongker;
      color: $white;
      overflow: hidden;
      border-radius: 0px;
      z-index: 1;
      transition: 0.5s;
      @media (min-width: 576px) {
        top: 0;
        border-radius: 10px;
        width: 50%;
      }
      @media (min-width: 768px) {
        border-radius: 10px;
        width: 40%;
      }
      &.geser {
        transform: translateX(-100%);
        @media (min-width: 576px) {
          transform: translateX(0%);
        }
      }
      .navigasi-friends {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid $dongker;
        margin-top: 4px;
        @media (min-width: 576px) {
          margin-top: 0px;
        }
        button {
          background-color: $bluelight;
          width: 100%;
          border-radius: 0px;
          height: 50px;
          font-weight: 500;
          color: $white;
          &.active {
            color: $gray-900;
            // background-color: ;
            background-color: $cream;
          }
          font-size: 14px;
          @media (min-width: 576px) {
            font-size: 13px;
          }
          @media (min-width: 992px) {
            font-size: 15px;
          }
        }
      }
      .list-friends {
        // padding: 15px 0px;
        overflow-y: scroll;
        max-height: 90%;
        &::-webkit-scrollbar {
          height: 8px;
          width: 4px;
        }

        &::-webkit-scrollbar-thumb {
          background: #c4c4c4;
          height: 4px !important;
          border-radius: 8px;
        }
        .ketnull {
          font-size: 13px;
          @media (min-width: 576px) {
            font-size: 12px;
          }
          @media (min-width: 768px) {
            font-size: 13px;
          }
          @media (min-width: 1200px) {
            font-size: 15px;
          }
        }
        .item-friends {
          .hover {
            justify-content: space-between;
            padding: 15px 20px;

            transition: 0.3s;
            &:hover {
              background-color: rgba($cyan, 0.1);
            }
          }
          .image {
            height: 50px;
            width: 50px;
            border-radius: 50%;
            background-color: $gray-200;
            overflow: hidden;
            margin-right: 24px;
            img {
              height: 100%;
              width: 100%;
              object-fit: cover;
            }
            @media (min-width: 576px) {
              height: 34px;
              width: 34px;
              margin-right: 10px;
            }
            @media (min-width: 768px) {
              height: 50px;
              width: 50px;
              margin-right: 15px;
            }
          }
          .friend {
            p {
              font-size: 14px;
            }
            button {
              color: $gray-800;
              text-decoration: none;
            }
            @media (min-width: 576px) {
              p {
                font-size: 13px;
              }
              button {
                font-size: 13px;
              }
            }
            @media (min-width: 992px) {
              p {
                font-size: 16px;
              }
              button {
                font-size: 16px;
              }
            }
          }
          .info {
            position: relative;
            padding-right: 5px;
            button {
              position: relative;
              &::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                display: block;
              }
            }
            .red {
              position: absolute;
              top: 0;
              right: 0;
              height: 12px;
              width: 12px;
              background-color: $orange;
              border-radius: 5px;
            }
          }
          .action {
            .tolak {
              font-size: 15px;
              color: $red;
              margin-right: 10px;
            }
            .terima {
              font-size: 15px;
              background-color: $cyan;
              border-radius: 3px;
              padding: 5px;
              color: white;
            }
          }
        }
      }
    }

    .box {
      position: absolute;

      top: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      background-color: $dongker;
      overflow: hidden;
      // padding: 15px;
      border-radius: 0px;
      .profile-friend {
        // display: flex;
        // justify-content: center;
        // align-items: center;
        color: $white;
        .subjudul {
          font-size: 18px;
          padding-bottom: 10px;
          @media (min-width: 576px) {
            border-bottom: 0px solid $cyan;
          }
          p {
            font-size: 14px;
            @media (min-width: 768px) {
              font-size: 14px;
            }
            @media (min-width: 1200px) {
              font-size: 16px;
            }
          }
        }
        .row {
          p {
            font-size: 13px;
            @media (min-width: 768px) {
              font-size: 14px;
            }
            @media (min-width: 1200px) {
              font-size: 15px;
            }
          }
        }
        .image {
          height: 150px;
          width: 150px;
          margin-right: 30px;
          border-radius: 20px;
          overflow: hidden;
          background-color: $bluelight;
          box-shadow: 0px 5px 15px rgba($cyan, 0.2);
          &.user {
            margin-left: auto;
            margin-right: auto;
            background-color: $gray-100;
            width: 180px;
            height: 180px;
            @media (min-width: 992px) {
              width: 230px;
              height: 230px;
              margin-left: auto;
              margin-right: 0;
            }
          }
          img {
            object-fit: cover;
            height: 100%;
            width: 100%;
          }
        }
        .btn {
          &.back {
            background-color: $white;
          }
          &.btn-cyan {
            background-color: $cyan;
          }
          &.btn-cream {
            background-color: $cream;
            color: $dongker;
          }
          border-radius: 10px;
          color: white;
          font-weight: 600;
        }
      }
      .animasi-load {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        background-color: $dongker;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @media (min-width: 576px) {
          border-radius: 15px;
          top: 5%;
          bottom: 5%;
        }
        @include fungsiAnimasi();
      }
      @media (min-width: 576px) {
        border-radius: 10px;
        width: 48%;
      }
      @media (min-width: 768px) {
        border-radius: 15px;
        width: 58%;
      }
      @media (min-width: 992px) {
        width: 58%;
      }
      .banner {
        .image {
          max-height: 300px;
          img {
            object-fit: contain;
            width: 100%;
            height: 100%;
          }
        }
        // img {
        //   max-height: 300px;
        // }
        a {
          font-size: 13px;
          padding: 8px 18px;
        }
        p {
          width: 90%;
          text-align: center;
          font-size: 13px;
          color: $white;
          @media (min-width: 992px) {
            font-size: 15px;
            width: 50%;
          }
        }
      }
      .header-chats {
        background-color: $bluelight;
        padding: 10px;
        color: $white;
        .image {
          height: 50px;
          width: 50px;
          border-radius: 50%;
          background-color: $gray-200;
          overflow: hidden;
          margin-right: 14px;
          img {
            height: 100%;
            width: 100%;
            object-fit: cover;
          }
        }
        .identitas {
          p {
            font-size: 15px;
          }
          span {
            font-size: 13px;
          }
        }
      }
      .list-chats {
        background-image: url("../image/bg-primary2.png");

        background-repeat: repeat;
        background-size: cover;
        top: 70px;
        bottom: 100px;
        @include listChats();
      }
      .input-chats {
        padding: 10px;
        // background-color: $cyan;
        @include inputChats();
      }
    }
  }
}

@keyframes redeffect {
  to {
    box-shadow: 0 0 0 15px rgba($red, 0);
    // transform: scale(1.2);
  }
}

.loading {
  height: 100vh;
  display: flex;
  align-items: center;
  .animasi-load {
    @include fungsiAnimasi();
  }

  .sorry {
    width: 90%;
    // margin-left: 50px;
    // margin-right: 50px;
    margin-top: 30px;
    border-radius: 10px;
    // background-color: $dongker;
    height: 90%;
    .ket {
      margin-top: -80px;
      color: $white;
      @media (min-width: 768px) {
        margin-top: 0px;
      }
    }
    p {
      font-size: 13px;
      @media (min-width: 768px) {
        font-size: 16px;
      }
    }
    img {
      max-height: 300px;
    }
  }
}

@keyframes loadingBar {
  25% {
    transform: translateX(100%) skewX(0deg);
    // transform: scale(1.2);
  }
  50% {
    transform: translateX(0) skewX(-45deg);
  }
  75% {
    transform: translateX(-100%) skewX(0deg);
  }
  100% {
    transform: translateX(0%) skewX(45deg);
  }
}
.lds-ring {
  display: inline-block;
  position: relative;
  width: 15px;
  height: 15px;
  margin-left: 10px;
  &.big {
    margin-left: 0px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 280px;
    div {
      margin-top: 20px;
      width: 40px;
      height: 40px;
      border-color: $cream transparent transparent transparent;
    }
  }
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 15px;
  height: 15px;
  margin: 2px;
  border: 3px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes load-right {
  0% {
    width: 30%;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 30%;
  }
}
