/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "../scss/colorVariabel.scss";
@import "../scss/gridContainer.scss";
* {
  font-family: "Poppins", sans-serif;
}
/* FONTS */

body {
  background-color: #f5f5f6;
}
#section-2 {
  background-color: $gray-100;
}

.text-cyan {
  color: $cyan;
}

@mixin imagestyle {
  width: 150px;
  margin: 0 auto;
  height: 100%;
  text-align: center;
  @media (min-width: 768px) {
    width: 100%;
    height: 100%;
  }
  img {
    object-fit: contain;
    max-height: 180px;
    width: auto;
    @media (min-width: 768px) {
      max-height: 280px;
    }
    @media (min-width: 992px) {
      max-height: 450px;
    }
  }
}

/* NAVBAR */
.navbar {
  background-color: $cyan;

  .navbar-account {
    display: flex;
    align-items: center;
    justify-content: center;
    .icon-notif {
      max-height: 33px;
    }
    .notif {
      position: absolute;
      top: 0px;
      right: 3px;
      background-color: $orange;
      height: 10px;
      width: 10px;
      border-radius: 50%;
    }
    .ava-user {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      overflow: hidden;
      margin: 0px 10px;
      img {
        object-fit: cover;
        height: 100%;
        width: 100%;
      }
    }
  }

  .navbar-brand {
    color: white;
    font-weight: 300;
    font-size: 12px;

    span.judul {
      font-weight: 700;
      font-size: 20px;
      line-height: 26px;
    }
    @media (min-width: 768px) {
      span.judul {
        font-size: 24px;
      }
    }
  }
  .user {
    position: relative;
    &:hover {
      .hover-item {
        display: block;
      }
    }
    .hover-item {
      display: none;
      overflow: hidden;
      border-radius: 8px;
      position: absolute;
      right: -80px;
      margin-top: 5px;
      z-index: 99;
      font-size: 13px;
      p {
        margin: 0;
        font-size: 14px;
      }
      span {
        font-size: 12px;
      }
      .btn {
        color: red;
      }
    }
    .btn {
      overflow: hidden;
      &:not(.login) {
        width: 30px;
        height: 30px;
      }
      &.login {
        background-color: $white;
        color: $cyan;
      }
      img {
        object-fit: contain;
        width: 100%;
        height: auto;
      }
      @media (min-width: 992px) {
        &:not(.login) {
          height: 40px;
          width: 40px;
        }
      }
    }
  }
}

.navbar-brand:focus,
.navbar-brand:hover {
  color: white;
}
.nav-link {
  color: white;
  margin: 0 10px;
}
.navbar-nav .nav-link.active,
.navbar-nav .show > .nav-link {
  font-weight: 800;
  color: white;
}
.nav-link:focus,
.nav-link:hover {
  color: white;
}

.judul-1 {
  font-weight: 600;
  font-size: 16px;
  // line-height: 30px;
  margin-bottom: 0;
  @media (min-width: 992px) {
    font-size: 20px;
  }
}
.judul-2 {
  font-weight: 700;
  font-size: 22px;
  line-height: 45px;
  color: $gray-900;
  @media (min-width: 992px) {
    font-size: 30px;
  }
}
.keterangan-1 {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  @media (min-width: 992px) {
  }
}
.keterangan-1 p {
  font-weight: 400;
  line-height: 27px;
  font-size: 14px;
  width: 90%;
  @media (min-width: 992px) {
    font-size: 18px;
    width: 60%;
  }
}

#section-1 {
  padding-top: 40px;
  padding-bottom: 20px;
  .keterangan-section1 {
    font-size: 14px;
    @media (min-width: 992px) {
      font-size: 18px;
    }
  }
  .image {
    @include imagestyle();
  }
}

#section-2 {
  padding-top: 50px;
  padding-bottom: 50px;
}

#section-3 {
  padding-top: 50px;
  padding-bottom: 50px;
  span {
    color: $cyan;
  }
  .image {
    @include imagestyle();
  }
}

#section-4 {
  padding-top: 20px;
  padding-bottom: 50px;
  .blog {
    span.ket {
      font-size: 13px;
    }
    a {
      font-size: 13px;
    }
    @media (min-width: 992px) {
      span.ket {
        font-size: 15px;
      }
      a {
        font-size: 15px;
      }
    }
  }
}

footer {
  background-color: #152355;
  .container {
    color: white;
  }
  .footer-brand {
    color: white;
    font-weight: 300;
    font-size: 12px;
    span {
      font-weight: 700;
      font-size: 24px;
      line-height: 26px;
    }
  }
  img {
    width: 20px;
    height: 20px;
  }
  p {
    margin-bottom: 0;
  }
  .footer-cr {
    font-size: 13px;
    @media (min-width: 992px) {
      font-size: 16px;
    }
  }
}

.detail {
  color: $gray-800;
  padding-bottom: 40px;
  // background-color: $gray-100;
  &:not(.primary) {
    background-color: $white;
  }
  .image {
    height: 450px;
    width: 100%;
    background-color: $white;
    border: 1px solid $gray-300;
    border-radius: 20px;
    overflow: hidden;
    img {
      object-fit: contain;
      height: 100%;
      width: 100%;
    }
  }

  .social {
    img {
      max-height: 35px;
    }
  }
}

.addevent {
  // background-color: $gray-200;
  padding-bottom: 40px;

  .navtabs-button {
    .item {
      position: relative;
      width: 15%;
      align-items: center;
      height: 60px;

      @media (min-width: 768px) {
        width: 18%;
      }
      &.active {
        width: 40%;
        &.sembunyi {
          width: 15%;
          @media (min-width: 768px) {
            width: 18%;
          }
        }
        p {
          color: $cyan;
          display: block;
          width: 90%;
        }
        span {
          background-color: $cyan;
          left: 0%;
        }
        @media (min-width: 992px) {
          width: 18%;
        }
      }
      span {
        position: absolute;
        // top: 0;
        left: 20%;
        height: 40px;
        width: 40px;
        color: $white;
        background-color: $gray-500;
        border-radius: 50%;
        font-size: 20px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
        @media (min-width: 576px) {
          left: 40%;
        }
        @media (min-width: 768px) {
          font-size: 23px;
          height: 50px;
          width: 50px;
        }
        @media (min-width: 992px) {
          left: 0%;
        }
      }
      p {
        position: absolute;
        right: 5%;
        margin: 0;
        padding: 7px 0px;
        background-color: $white;
        color: $gray-500;
        font-weight: 600;
        width: 90%;
        border-radius: 20px;
        text-align: center;
        display: none;
        font-size: 13px;
        padding-left: 28px;
        border: 2px solid $cyan;
        @media (min-width: 375px) {
          padding-left: 15px;
        }
        &.sembunyi {
          border: 2px solid $gray-200;
          display: none;
          @media (min-width: 992px) {
            display: block;
          }
        }
        @media (min-width: 576px) {
          text-align: center;
        }
        @media (min-width: 992px) {
          display: block;
          width: 87%;
          font-size: 14px;
        }
        @media (min-width: 1200px) {
          width: 90%;
          font-size: 16px;
          display: block;
        }
      }
    }
  }

  .boxevent {
    color: $gray-800;
    background-color: white;
    padding: 20px 25px;
    border-radius: 15px;
    margin-top: 30px;
    label {
      font-weight: 600;
    }
    input,
    textarea,
    select {
      font-size: 14px;
    }
  }

  .upload-image {
    border: 2px dashed $cyan;
    background-color: rgba($cyan, 0.05);
    margin-bottom: 20px;
    border-radius: 8px;
    text-align: center;
    padding: 30px 20px;
    .ketfoto {
      background-color: white;
      color: $gray-800;
      padding: 10px 15px;
      border-radius: 5px;
    }
    p {
      font-size: 13px;
      margin: 30px 0px;
    }
    .button {
      text-decoration: underline;
      font-size: 14px;
      cursor: pointer;
    }
  }
}

.findfriend {
  .animasi-load {
    img {
      border-radius: 50%;
      width: 200px;
      height: 200px;
      box-shadow: 0 0 0 0 rgba($cyan, 0.5);
      transform: scale(1);
      transition: all 600ms ease-in-out;
      animation-name: animationLoad;
      animation-duration: 1.7s;
      animation-iteration-count: infinite;
      transition-timing-function: cubic-bezier(0.5, 0, 0, 1);
    }
  }
  .tema {
    border-radius: 10px;
    transition: 0.3s;
    button {
      margin-left: 20px;
      padding: 10px 15px;
    }
    img {
      max-height: 150px;
    }
    &:hover {
      p {
        color: white;
      }
      background-color: rgba($cyan, 0.6);
    }
    @media (min-width: 768px) {
      button {
        margin-left: 0px;
        padding: 10px 35px;
      }
      img {
        max-height: 350px;
      }
    }
  }
}
@keyframes animationLoad {
  to {
    box-shadow: 0 0 0 25px rgba($red, 0);
    // transform: scale(0.9);
    // border-radius: 0%;
  }
  // 50% {
  //   box-shadow: 0 0 0 0 rgba($cyan, 0.5);
  //   // transform: scale(1);
  //   // border-radius: 50%;
  // }
}

.chats {
  background-color: $gray-100;
  height: 100vh;

  .animasi-load {
    width: 100%;
    margin-top: 30px;
    border-radius: 10px;
    background-color: white;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    @media (min-width: 992px) {
      width: 100%;
    }
    span {
      position: absolute;
      bottom: 10%;
      font-weight: 600;
      color: $cyan;
    }
    img {
      border-radius: 50%;
      width: 200px;
      height: 200px;
      box-shadow: 0 0 0 0 rgba($cyan, 0.5);
      transform: scale(1);
      transition: all 600ms ease-in-out;
      animation-name: animationLoad;
      animation-duration: 1.7s;
      animation-iteration-count: infinite;
      transition-timing-function: cubic-bezier(0.5, 0, 0, 1);
    }
  }
  .container {
    position: relative;
    height: 100%;
    overflow: hidden;
    .box {
      width: 100%;
      background-color: $white;
      position: absolute;
      left: 0;
      padding: 15px;
      border-radius: 0px;
      top: 0;
      bottom: 0;
      @media (min-width: 576px) {
        border-radius: 15px;
        top: 5%;
        bottom: 5%;
        width: 60%;
      }
      @media (min-width: 768px) {
        width: 60%;
      }
      @media (min-width: 992px) {
        width: 63%;
      }
      .header-chats {
        span {
          font-size: 12px;
        }
        button {
          font-size: 12px;
          padding: 5px 5px;
        }
        .red {
          height: 20px;
          min-width: 20px;
          background-color: $red;
          border-radius: 50%;
          margin-right: 15px;
          margin-left: 15px;
          box-shadow: 0 0 0 0 rgba($red, 0.4);
          transition: all 300ms ease-in-out;
          animation-name: redeffect;
          animation-duration: 1.5s;
          animation-iteration-count: infinite;
          transition-timing-function: cubic-bezier(0.5, 0, 0, 1);
        }
        @media (min-width: 768px) {
          span {
            font-size: 13px;
          }
        }
        @media (min-width: 992px) {
          span {
            font-size: 16px;
          }
          button {
            font-size: 14px;
            padding: 7px 12px;
          }
        }
      }
      .list-chats {
        position: absolute;
        top: 10%;
        bottom: 9%;
        left: 0;
        right: 0;

        .chat-value {
          position: absolute;
          bottom: 0;
          display: flex;
          flex-direction: column-reverse;
          overflow-y: scroll;
          max-height: 100%;
          width: 100%;
          padding: 10px;
          &::-webkit-scrollbar {
            height: 8px;
            width: 6px;
          }

          &::-webkit-scrollbar-thumb {
            background: #c4c4c4;
            height: 4px !important;
            border-radius: 8px;
          }
          .chat-item {
            max-width: 80%;
            min-width: 40%;
            margin-right: auto;
            background-color: rgba($cyan, 0.4);
            padding: 10px;
            padding: 8px;
            border-radius: 10px 10px 10px 0px;
            position: relative;
            margin-bottom: 8px;
            &.notif-keluar {
              background-color: rgba($red, 0.2);

              font-size: 11px;
              color: $red;
              margin: 0 auto;
              border-radius: 10px;
              min-width: 80%;
              max-width: 90%;
            }
            &.me {
              background-color: $gray-300;
              margin-left: auto;
              margin-right: 0;
              border-radius: 10px 10px 0px 10px;
            }
            p {
              margin: 0;
              padding: 0;
              font-size: 12px;
            }
            p.user {
              font-size: 12px;
              font-weight: 600;
            }
            p.value {
              font-size: 11px;
              margin-bottom: 5px;
            }
            p.jam {
              font-size: 11px;
              text-align: end;
            }
            @media (min-width: 576px) {
              max-width: 70%;
              p {
                &.user {
                  font-size: 12px;
                }
                &.value {
                  font-size: 11px;
                }
                &.jam {
                  font-size: 11px;
                }
              }
            }
            @media (min-width: 992px) {
              max-width: 60%;
              padding: 10px;
              border-radius: 12px 12px 12px 0px;
              &.me {
                border-radius: 12px 12px 0px 12px;
              }
              p {
                &.user {
                  font-size: 14px;
                }
                &.value {
                  font-size: 13px;
                }
                &.jam {
                  font-size: 12px;
                }
              }
            }
          }
        }
      }
      .input-chats {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        button {
          position: absolute;
          top: 0;
          bottom: 0;
          right: 0;
          display: inline-flex;
          align-items: center;
          img {
            max-height: 20px;
          }
        }
        input {
          font-size: 12px;
        }
        @media (min-width: 576px) {
          input {
            font-size: 13px;
          }
        }
        @media (min-width: 992px) {
          input {
            font-size: 14px;
          }
          button {
            img {
              max-height: 25px;
            }
          }
        }
      }
    }

    .friends {
      color: $gray-800;
      padding: 15px;
      position: absolute;
      border-radius: 0px;
      width: 74%;
      right: 0;
      top: 0;
      bottom: 0;
      background-color: $white;
      overflow-y: hidden;
      transition: 0.4s;
      background-color: $cyan;
      &.geser {
        transform: translateX(100%);
      }
      @media (min-width: 450px) {
        width: 60%;
      }
      @media (min-width: 576px) {
        background-color: $white;
        border-radius: 15px;
        top: 5%;
        bottom: 5%;
        width: 38%;
        padding: 10px;
        &.geser {
          transform: translateX(0%);
        }
      }
      @media (min-width: 768px) {
        width: 38%;
      }
      @media (min-width: 992px) {
        width: 35%;
        padding: 15px;
      }
      p.judul-1 {
        font-size: 12px;
        @media (min-width: 576px) {
          font-size: 13px;
        }
        @media (min-width: 992px) {
          font-size: 16px;
        }
      }
      img.topik {
        max-height: 170px;
        @media (min-width: 576px) {
          max-height: 120px;
        }
        @media (min-width: 768px) {
          max-height: 150px;
        }
        @media (min-width: 1400px) {
          max-height: 200px;
        }
      }
      .header-friends {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 50%;
        border-bottom: 2px solid white;
        .judul-1 {
          color: white;
        }
        @media (min-width: 576px) {
          .judul-1 {
            color: $gray-800;
            &.tema {
              color: $cyan;
            }
          }
          height: 60%;
        }
        @media (min-width: 768px) {
          height: 50%;
        }
        @media (min-width: 992px) {
          height: 40%;
        }
      }
      .list-friends {
        height: 50%;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 2px;
        .judul-1 {
          color: white;
        }
        @media (min-width: 576px) {
          .judul-1 {
            color: $gray-800;
          }
          height: 60%;
        }
        @media (min-width: 768px) {
          height: 50%;
        }
        @media (min-width: 992px) {
          padding: 10px;
          height: 60%;
        }
        .items-friends {
          overflow-y: scroll;
          height: 90%;
          padding-right: 10px;
          &::-webkit-scrollbar {
            height: 8px;
            width: 4px;
          }

          &::-webkit-scrollbar-thumb {
            background: #c4c4c4;
            height: 4px !important;
            border-radius: 8px;
          }
          @media (min-width: 576px) {
            padding-right: 5px;
          }
          @media (min-width: 992px) {
            padding-right: 10px;
            &::-webkit-scrollbar {
              height: 8px;
              width: 6px;
            }
          }
        }
        .item-friends {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-top: 15px;
          .image {
            height: 30px;
            width: 30px;
            background-color: $gray-200;
            border-radius: 50%;
            overflow: hidden;
            img {
              height: 100%;
              width: 100%;
              object-fit: cover;
            }
            @media (min-width: 576px) {
              height: 34px;
              width: 34px;
            }
            @media (min-width: 992px) {
              height: 50px;
              width: 50px;
            }
          }
          .friend {
            color: white;
            a {
              color: white;
            }
            font-size: 11px;
            @media (min-width: 576px) {
              color: $gray-800;
              font-size: 11px;
              a {
                color: $gray-800;
              }
            }
            @media (min-width: 992px) {
              font-size: 16px;
            }
          }
          .add {
            .btn-outline-cyan {
              color: $white;
              font-weight: 600;
              transition: 0.3s;
              border: 2px solid $white;
              &:hover {
                background-color: $white;
                color: $cyan;
              }
              height: 35px;
              width: 35px;
              border-radius: 50%;
              font-size: 12px;
              padding: 0;
              @media (min-width: 576px) {
                color: $cyan;

                height: 30px;
                width: 30px;
                border-radius: 50%;
                border: 1px solid $cyan;
                &:hover {
                  background-color: $cyan;
                  color: white;
                }
              }
              @media (min-width: 992px) {
                padding: 8px 5px;
                font-size: 14px;
                height: auto;
                width: auto;
                border-radius: 8%;
              }
            }
          }
        }
      }
    }
  }
}

@keyframes redeffect {
  to {
    box-shadow: 0 0 0 15px rgba($red, 0);
    // transform: scale(1.2);
  }
}
