@import "../scss/colorVariabel.scss";
.login,
.forget {
  height: 100%;
  @media (min-width: 1400px) {
    height: 100vh;
  }
  .row {
    height: 100%;
  }
}

.forget {
  .col-md:nth-child(1) {
    img {
      max-height: 470px;
    }
  }
  .forget-only {
    width: 100%;
    @media (min-width: 1200px) {
      .judul {
        font-size: 20px;
      }
      width: 76%;
      // width: 50%;
    }

    .lds-ring div {
      border: 3px solid $dongker;
      border-color: $dongker transparent transparent transparent;
    }
  }
  .code-form {
    input {
      text-transform: capitalize;
      font-size: 32px !important;
      padding: 3px 3px !important;
      text-align: center;
      color: $dongker;
    }
  }
}
.regist {
  @media (min-width: 1800px) {
    height: 100vh;
  }
  .row {
    height: 100%;
  }
  .regist-only {
    width: 100%;
    @media (min-width: 1200px) {
      .judul {
        font-size: 20px;
      }
      width: 76%;
      // width: 50%;
    }
  }
}
.login,
.regist,
.forget {
  background-repeat: no-repeat;
  color: $white;
  // height: 100%;
  // position: relative;
  // background-color: aqua;
  .bg {
    position: absolute;
    background-color: $bluedark;
    // height: 100%;
    top: 0;
    bottom: 0;
    z-index: -1;
    width: 45%;
    @media (min-width: 768px) {
    }
    @media (min-width: 1200px) {
      width: 50%;
    }
  }
  .row {
    .col-md:nth-child(1) {
      // position: relative;
      padding-top: 30px;
      img {
        width: 100%;
        @media (min-width: 768px) {
          width: 80%;
        }
        @media (min-width: 1200px) {
          width: 100%;
          transform: translateX(-20px);
        }
      }
    }
    .col-md:nth-child(2) {
      // background-color: red;
      display: flex;
      align-items: center;
      justify-content: center;
      @media (min-width: 992px) {
        // justify-content: end;
      }
      .judul {
        font-weight: 700;
        font-size: 24px;
        @media (min-width: 992px) {
          font-size: 30px;
        }
      }
      .keterangan {
        font-size: 13px;
        @media (min-width: 992px) {
          font-size: 16px;
        }
      }
    }
  }
  input[type="text"],
  input[type="password"],
  select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    outline: none;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 13px;
  }

  input[type="submit"] {
    width: 100%;
    background-color: #5db3bf;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  input[type="submit"]:hover {
    background-color: #358f9b;
  }
  .daftar {
    text-decoration: none;
    color: #4f4f4f;
    font-weight: 600;
    &:hover {
      color: #2b2b2b;
    }
  }
  .show-hide {
    background-image: url("../icon/clarity_eye-line.png");
    background-repeat: no-repeat;
    position: absolute;
    width: 23px;
    height: 20px;
    margin-top: 20px;
    margin-left: -45px;
    cursor: pointer;
  }

  label {
    font-weight: 700;
    margin-top: 10px;
  }
}
