@import "../../assets/scss/colorVariabel.scss";

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

.modal {
  font-family: "Poppins", sans-serif;
  color: $gray-900;
  img {
    max-height: 170px;
  }
  input {
    font-size: 13px;
  }
  label {
    font-weight: 600;
    margin-bottom: 4px;
  }
  .image-profile {
    position: relative;
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: center;
    .image {
      position: absolute;
      overflow: hidden;
      top: 0;
      height: 140px;
      width: 140px;
      background-color: $gray-100;
      border-radius: 50%;
      img {
        object-fit: cover;
        height: 100%;
        width: 100%;
      }
    }

    .btn {
      height: 40px;
      width: 40px;
      border-radius: 50%;
      background-color: white;
      box-shadow: 0px 0px 10px rgba($gray-300, 1);
      display: inline-flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      bottom: 10%;
      right: 33%;
      padding: 0;
    }
  }
}
