@import "../../assets/scss/colorVariabel.scss";

.btn-primary-saika {
  border-radius: 10px;
  background-color: $cream;
  color: $dongker;
  font-weight: 600;
  font-size: 14px;
  padding: 13px 50px;
  border: none;
  transition: 0.3s;
  box-shadow: 0px 3px 20px rgba(255, 255, 255, 0.25);
  &.btn-dongker {
    background-color: $bluelight !important;
    color: $cream !important;
  }
  &.active {
    background-color: rgba($cyan, 0.4) !important;
    color: $gray-800;

    span {
      font-weight: 600;
    }
  }

  &:hover {
    color: $dongker;
    box-shadow: 0px 3px 25px rgba(255, 255, 255, 0.4);
  }

  &.isHover {
    &:hover {
      background-color: $teal;
    }
  }
  &.after-element::after {
    content: "";
    display: block;
    background-color: $tealnes;
    position: absolute;
    left: 0;
    top: 0;
    width: 7px;
    height: 100%;
  }
}

.animation-button {
  box-shadow: 0 0 0 0 rgba($cream, 0.4);
  // animation: wideeffect 2s infinite linear;
  transition: all 300ms ease-in-out;
  animation-name: wideeffect;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  transition-timing-function: cubic-bezier(0.5, 0, 0, 1);
}
@keyframes wideeffect {
  to {
    box-shadow: 0 0 0 24px rgba($cyan, 0);
    // transform: scale(1.2);
  }
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 20px;
  height: 20px;
  margin-left: 10px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  margin: 4px;
  border: 3px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
